<a href="https://colab.research.google.com/github/paula-ioni/paula-ioni.github.io/blob/main/scraping_pandas_esc2021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Scraping Wikipedia Eurovision 2021 data

using `pandas`

In [ ]:
import requests, pandas as pd

In [ ]:
tables=pd.read_html('https://en.wikipedia.org/wiki/Eurovision_Song_Contest_2021')

In [ ]:
tables[6]

    Draw[110]     Country[91]  ...  Place Points
0           1          Cyprus  ...     16     94
1           2         Albania  ...     21     57
2           3          Israel  ...     17     93
3           4         Belgium  ...     19     74
4           5          Russia  ...      9    204
5           6           Malta  ...      7    255
6           7        Portugal  ...     12    153
7           8          Serbia  ...     15    102
8           9  United Kingdom  ...     26      0
9          10          Greece  ...  10[q]    170
10         11     Switzerland  ...      3    432
11         12      Iceland[o]  ...      4    378
12         13           Spain  ...     24      6
13         14         Moldova  ...     13    115
14         15         Germany  ...     25      3
15         16         Finland  ...      6    301
16         17        Bulgaria  ...  11[q]    170
17         18       Lithuania  ...      8    220
18         19         Ukraine  ...      5    364
19         20          France  ...      2    499
20         21      Azerbaijan  ...     20     65
21         22          Norway  ...     18     75
22         23     Netherlands  ...     23     11
23         24           Italy  ...      1    524
24         25          Sweden  ...     14    109
25         26      San Marino  ...     22     50

[26 rows x 7 columns]

In [ ]:
df=tables[6]

In [ ]:
df.columns

Index(['Draw[110]', 'Country[91]', 'Artist[111]', 'Song[111]', 'Language(s)',
       'Place', 'Points'],
      dtype='object')

In [ ]:
df.columns=['draw','country','artist','song', 'language','place','points']

In [ ]:
df

    draw         country  ...  place points
0      1          Cyprus  ...     16     94
1      2         Albania  ...     21     57
2      3          Israel  ...     17     93
3      4         Belgium  ...     19     74
4      5          Russia  ...      9    204
5      6           Malta  ...      7    255
6      7        Portugal  ...     12    153
7      8          Serbia  ...     15    102
8      9  United Kingdom  ...     26      0
9     10          Greece  ...  10[q]    170
10    11     Switzerland  ...      3    432
11    12      Iceland[o]  ...      4    378
12    13           Spain  ...     24      6
13    14         Moldova  ...     13    115
14    15         Germany  ...     25      3
15    16         Finland  ...      6    301
16    17        Bulgaria  ...  11[q]    170
17    18       Lithuania  ...      8    220
18    19         Ukraine  ...      5    364
19    20          France  ...      2    499
20    21      Azerbaijan  ...     20     65
21    22          Norway  ...     18     75
22    23     Netherlands  ...     23     11
23    24           Italy  ...      1    524
24    25          Sweden  ...     14    109
25    26      San Marino  ...     22     50

[26 rows x 7 columns]

In [ ]:
df.sort_values(by='points',ascending=False)

    draw         country  ...  place points
23    24           Italy  ...      1    524
19    20          France  ...      2    499
10    11     Switzerland  ...      3    432
11    12      Iceland[o]  ...      4    378
18    19         Ukraine  ...      5    364
15    16         Finland  ...      6    301
5      6           Malta  ...      7    255
17    18       Lithuania  ...      8    220
4      5          Russia  ...      9    204
9     10          Greece  ...  10[q]    170
16    17        Bulgaria  ...  11[q]    170
6      7        Portugal  ...     12    153
13    14         Moldova  ...     13    115
24    25          Sweden  ...     14    109
7      8          Serbia  ...     15    102
0      1          Cyprus  ...     16     94
2      3          Israel  ...     17     93
21    22          Norway  ...     18     75
3      4         Belgium  ...     19     74
20    21      Azerbaijan  ...     20     65
1      2         Albania  ...     21     57
25    26      San Marino  ...     22     50
22    23     Netherlands  ...     23     11
12    13           Spain  ...     24      6
14    15         Germany  ...     25      3
8      9  United Kingdom  ...     26      0

[26 rows x 7 columns]

In [ ]:
df=df.sort_values(by='points',ascending=False)

Cleaning the columns I need for the chart

In [ ]:
df['place'].str.strip('[q]').astype(int)

23     1
19     2
10     3
11     4
18     5
15     6
5      7
17     8
4      9
9     10
16    11
6     12
13    13
24    14
7     15
0     16
2     17
21    18
3     19
20    20
1     21
25    22
22    23
12    24
14    25
8     26
Name: place, dtype: int64

In [ ]:
df['place']=df['place'].str.strip('[q]').astype(int)

In [ ]:
df

    draw         country  ... place points
23    24           Italy  ...     1    524
19    20          France  ...     2    499
10    11     Switzerland  ...     3    432
11    12      Iceland[o]  ...     4    378
18    19         Ukraine  ...     5    364
15    16         Finland  ...     6    301
5      6           Malta  ...     7    255
17    18       Lithuania  ...     8    220
4      5          Russia  ...     9    204
9     10          Greece  ...    10    170
16    17        Bulgaria  ...    11    170
6      7        Portugal  ...    12    153
13    14         Moldova  ...    13    115
24    25          Sweden  ...    14    109
7      8          Serbia  ...    15    102
0      1          Cyprus  ...    16     94
2      3          Israel  ...    17     93
21    22          Norway  ...    18     75
3      4         Belgium  ...    19     74
20    21      Azerbaijan  ...    20     65
1      2         Albania  ...    21     57
25    26      San Marino  ...    22     50
22    23     Netherlands  ...    23     11
12    13           Spain  ...    24      6
14    15         Germany  ...    25      3
8      9  United Kingdom  ...    26      0

[26 rows x 7 columns]

In [ ]:
df['country'].str.strip('[o]')
df['country']=df['country'].str.strip('[o]')

In [ ]:
df

    draw         country  ... place points
23    24           Italy  ...     1    524
19    20          France  ...     2    499
10    11     Switzerland  ...     3    432
11    12         Iceland  ...     4    378
18    19         Ukraine  ...     5    364
15    16         Finland  ...     6    301
5      6           Malta  ...     7    255
17    18       Lithuania  ...     8    220
4      5          Russia  ...     9    204
9     10          Greece  ...    10    170
16    17        Bulgaria  ...    11    170
6      7        Portugal  ...    12    153
13    14         Moldova  ...    13    115
24    25          Sweden  ...    14    109
7      8          Serbia  ...    15    102
0      1          Cyprus  ...    16     94
2      3          Israel  ...    17     93
21    22          Norway  ...    18     75
3      4         Belgium  ...    19     74
20    21      Azerbaijan  ...    20     65
1      2         Albania  ...    21     57
25    26       San Marin  ...    22     50
22    23     Netherlands  ...    23     11
12    13           Spain  ...    24      6
14    15         Germany  ...    25      3
8      9  United Kingdom  ...    26      0

[26 rows x 7 columns]

In [ ]:
df.to_csv('ESC2021_results.csv')